<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link rel="stylesheet" href="/khach_hang/style.css">-->
        <link rel="stylesheet" href="/css/header.css">
        <script src="/js/header.js"></script>
    </head>
        <body class="position-relative flex-column">
            <div class="sidebar">
                <div class="logo-content">
                    <img src="/img/logo.png" alt="logo">
                </div>
                <ul class="list">
                    <!--Trang chủ-->
                    <li class="list-item">
                        <a href="#" class="active">
                            <a href="/">
                                <span class="links-name">Trang chủ</span>
                            </a>
                        </a>
                    </li>
                    <!--Nhân sự-->
                    <li class="list-item">
                        <a href="#" class="active">
                            <a href="/nhan-vien">
                                <span class="links-name">Nhân sự</span>
                            </a>
                        </a>
                    </li>
                    <!--Khách hàng-->                                   
                    <li class="list-item">
                        <a href="#" class="active">
                            <a href="/khach-hang">
                                <span class="links-name">Khách hàng</span>
                            </a>
                        </a>
                    </li>
                    <!--Mua bán-->
                    <li class="list-item">
                        <a href="#" class="active">
                            <a href="/mua-hang">
                                <span class="links-name">Bán hàng</span>
                            </a>
                        </a>
                    </li>
                    <!--Kho hàng-->
                    <li class="list-item">
                        <a href="#" class="active">
                            <a href="/san-xuat">
                                <span class="links-name">Kho hàng</span>
                            </a>
                        </a>
                    </li>
                </ul>
            </div>
        </body>  
</html>