<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/finance.css">
    </head>
    <body>
        <!--Thanh tab bar chuyển các thành phần trong tài chính-->
        <div class="container-flex-column">
            <div class="container-flex-row">
                <a href="/tai-chinh/phieu-chi" class="custom-link">
                    <p>Phiếu chi</p>
                </a>
                <a href="/tai-chinh/phieu-thu" class="custom-link">
                    <p>Phiếu thu</p>
                </a>
                <a href="/tai-chinh/luong-thuong" class="custom-link">
                    <p>Lương thưởng</p>
                </a>
            </div>
            <span class="line"></span>
        </div>
        <!--Nội dung content-->
        <div class="container-flex-row space-around">
            <div>
                <p class="big-text">BIỂU ĐỒ TĂNG TRƯỜNG THEO QUÝ</p>
                <div>

                </div>
            </div>
            <div>
                <p class="big-text">BIỂU ĐỒ TĂNG TRƯỜNG THEO NĂM</p>

            </div>
        </div>
        <!--Library of chartjs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/tai_chinh/script.js"></script>
        </div>
    </body>
</html>