<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<link rel="stylesheet" href="/dang_nhap/style.css">-->
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="wrapper">
            <from action="" method="POST"> <!--action: submit ở đường dẫn nào, method: dùng phương thức nào để submit (POST, GET)-->
                <h1>ĐĂNG NHẬP</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box">
                    <input type="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>

                <button type="submit" class="btn">ĐĂNG NHẬP</button>
            </from>
        </div>
    </body>
</html>
        