<!DOCTYPE html>
<html lang="en">
    <head>
         <link rel="stylesheet" href="/css/paymentSlip.css">
    </head>
    <body>
        <!--Nội dung content-->
        <main id="phieu-chi">
            <!--Nút trở về-->
            <section id="back">
                <a href="/tai-chinh">
                    <i class='bx bx-arrow-back'></i>
                </a>
            </section>
            <!--===============NỘI DUNG PHIẾU CHI===================-->
            <section id="phieu-chi-tien">
                <div>
                    <h1>PHIẾU CHI TIỀN</h1>
                </div>
                <div class="">
                    <from action=""> 
                        <fieldset class="container-flex-row first-fieldset">
                            <!--Ngày ghi sổ-->
                            <label for="ngay-ghi-so" id="name-label" class="bold-text">Ngày ghi sổ
                                <input type="date" name="ngay-ghi-so" id="ngay-ghi-so" placeholder="" required>
                            </label>
                            <!--Số chứng từ-->
                            <label for="so-chung-tu" id="name-label" class="bold-text">Số chứng từ
                                <input type="text" name="so-chung-tu" id="so-chung-tu" placeholder="" required>
                            </label>    
                            <!--Ngày chứng từ-->
                            <label for="ngay-chung-tu" id="name-label" class="bold-text">Ngày chứng từ
                                <input type="date" name="ngay-chung-tu" id="ngay-chung-tu" placeholder="" required>
                            </label>
                        </fieldset>
                        <fieldset class="second-fieldset">
                            <label for="noi-dung-chuyen-tien" class="bold-text">Nội dung chuyển tiền
                                <textarea id="noi-dung-chuyen-tien" name="bio" rows="6" cols="60" placeholder="" value></textarea>
                            </label>
                        </fieldset>
                        <fieldset class="container-flex-row third-fieldset">
                            <label for="so-tien" id="name-label" class="bold-text">Số tiền
                                <input type="text" name="so-tien" id="so-tien" placeholder="" required>
                            </label>
                            <label for="tai-khoan" id="name-label" class="bold-text">Tài khoản
                                <input type="text" name="tai-khoan" id="tai-khoan" placeholder="" required>
                            </label>
                            <label for="loai-chi-phi" id="name-label" class="bold-text">Loại chi phí
                                <input type="text" name="loai-chi-phi" id="loai-chi-phi" placeholder="" required>
                            </label>
                        </fieldset>
                        <p class="big-text">Thông tin người giao dịch</p>
                        <fieldset class="fourth-fieldset">
                            <label for="ho-ten" id="name-label" class="bold-text">Họ và tên
                                <input type="text" name="ho-ten" id="ho-ten" placeholder="" required>
                            </label>
                            <label for="email" id="name-label" class="bold-text">Email
                                <input type="email" name="email" id="email" placeholder="" required>
                            </label>
                            <label for="dia-chi" id="name-label" class="bold-text">Địa chỉ
                                <input type="text" name="dia-chi" id="dia-chi" placeholder="" required>
                            </label>
                        </fieldset>
                        <!--BUTTON XÁC NHẬN-->
                        <input id="submit" type="submit" value="Xác nhận" />    
                    </form>             
                </div>
            </section>
            
        </main>
    </body>
</html>